.toggleFriendBtn {
    background: #4A76A8;
    outline: none;
    border: none;
    color: white;
    padding: 7px 16px;
    border-radius: 4px;
    font-size: 14px;
}

.toggleFriendBtn.hover {
    filter: brightness(0.9);
    cursor: pointer;
}

.del {
    background: #e5ebf1;
    color: gray;
}