.friendsPageWrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 20px);
    margin-left: 20px;
}

.friendsPageL {
    width: 550px;
}

.friendsPageR {
    width: calc(100% - 565px);
}

.friendliest {
    width: 100%;
    background: white;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    padding: 0 20px;
    font-size: 16px;
    border-bottom: 1px solid #D2DDEA;
}

.extSearch {
    font-size: 13px;
    padding-left: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url("../../assets/images/search-icon.png");
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: left center;
}