.AppContentWrap {
    padding: 15px 20px;
}

.AppContent {
    margin: auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.PageContent {
    width: 100%;
}