.submitBtn {
    margin-top: 10px;
    background: #4A76A8;
    outline: none;
    border: none;
    color: white;
    padding: 7px 16px;
    border-radius: 4px;
    font-size: 14px;
}

.hover {
    filter: brightness(.9);
    cursor: pointer;
}