.editPageWrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 20px);
    margin-left: 20px;
}

.editPageL {
    width: 550px;
}

.editPageR {
    width: calc(100% - 565px);
}