.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBtn {
    background: none;
    outline: none;
    padding: 0 8px;
    border: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.loginBtn.hover {
    background-color: #426996;
    cursor: pointer;
}